<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pinmyballs"
    android:versionCode="46"
    android:versionName="2.45">

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />

    <!-- Demande de permission pour le GPS -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <!-- Demande recommandées par Google maps -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>


    <permission android:name="com.pinmyballs.permission.MAPS_RECEIVE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="com.pinmyballs.permission.MAPS_RECEIVE"/>

    <uses-feature android:glEsVersion="0x00020000" android:required="true"/>

    <application
        android:name=".MyApplication"
        android:icon="@drawable/ic_launcher_vectorise_v2"
        android:theme="@style/Theme.AppCompat.Light"
        android:label="Pin my Balls">

        <activity
            android:name="com.pinmyballs.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.pinmyballs.PageListeResultat"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name="com.pinmyballs.PageCarteFlipper"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name="com.pinmyballs.PageListeResultatTournois"/>
        <activity android:name="com.pinmyballs.PageListeCommentaire"/>
        <activity 	android:name="com.pinmyballs.PageSignalement"
            android:windowSoftInputMode="adjustResize"/>
        <activity 	android:name="com.pinmyballs.PageSignalementNew"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name="com.pinmyballs.PagePreferences"
            android:windowSoftInputMode="adjustResize"/>
        <activity 	android:name="com.pinmyballs.PageInfoFlipperPager"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name="com.pinmyballs.PageInfoTournoi"/>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/googleMapsApiKey"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

    </application>

</manifest>
