<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pinmyballs">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <!--<permission
        android:name="com.pinmyballs.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.pinmyballs.permission.MAPS_RECEIVE" />-->

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".MyApplication"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher3_round"
        android:label="Pin my Balls"
        android:theme="@style/Theme.AppCompat.Light">

        <activity
            android:name=".HomeActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                />
            </intent-filter>
        </activity>

        <activity
            android:name=".PageFlipper"
            android:label="@string/title_activity_page_flipper"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".TournoiActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar2" />
        <activity
            android:name=".ListeActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar2" />

        <activity
            android:name=".CommentaireActivity"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar2" />

        <activity
            android:name=".PopScore"
            android:parentActivityName=".PageInfoFlipperPager"
            android:theme="@style/Theme.AppCompat.Light.Dialog.NoActionBar" />

        <activity
            android:name=".PopMap"
            android:parentActivityName=".z_PageSignalementTournoi"
            android:theme="@style/Theme.AppCompat.Light.Dialog.NoActionBar" />

        <activity
            android:name=".PopLegend"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog.NoActionBar" />

        <activity
            android:name=".SignalementMailActivity"
            android:parentActivityName=".HomeActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".SignalementActivity"
            android:parentActivityName=".HomeActivity" />

        <activity
            android:name=".PagePreferences"
            android:parentActivityName=".HomeActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".PageAdmin"
            android:parentActivityName=".HomeActivity"
            android:windowSoftInputMode="adjustResize" />


        <activity
            android:name=".PageListeResultat"
            android:parentActivityName=".z_MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".PageCarteFlipper"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".PageListeResultatTournois"
            android:parentActivityName=".z_MainActivity" />
        <activity
            android:name=".z_PageSignalementTournoi"
            android:parentActivityName=".PageListeResultatTournois" />


        <activity
            android:name=".PageInfoFlipperPager"
            android:windowSoftInputMode="adjustResize" />

        <activity android:name=".PageInfoTournoi" />


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBWzLO7XJTK0qp3hWkX599YdiUWGc_yFYc" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>