body {
    padding-top: 110px;
}

.wait {position: absolute;
    margin-top:1em;
    margin-left: 1em;
}

.hidden {
    display: none;
}
#map-canvas {
    min-height: 350px;
}

.gm-style-iw {
    font-family: gothambook;
}
.gm-style-iw h1{
    font-size: 1.3em;
    color: #333;
}
.gm-style-iw ul{
    list-style-type: square;
}
